html {
    box-sizing: border-box;
    font-size: 2em;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    text-shadow: -10px -30px red;
}